body{
    padding: 0;
    margin: 0;
}

header{
    background: linear-gradient(57deg ,#40a72f, #79BA72);
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #60a658 1px solid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
ul{
    margin: 0;
    padding: 0;
    float: right;
}
header a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    display: inline-flex;
    padding: 15px 20px 0 20px;
}

.HjemTittel{
    float: left;
    padding: 0 15px 15px 15px;
}

header .active{
    color: white;
    font-weight: bold;
}
li{
    list-style-type: none;
    display: inline-flex;
}
header a:hover{
    color: #cccccc;

}

/*--- Innhold ---*/

.container{
    margin-top: 0;
    height: 80vh;
    background: linear-gradient(57deg, #40a72f, #79BA72);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

.overskrift{
    text-align: center;
    font-size: 22px;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    color: #fff;
}
.overskrift h1{
    font-family: 'Pattaya', sans-serif;
    font-size: 80px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;

}
.overskrift button{
    font-weight: bold;
    font-size: 22px;
    padding: 10px 25px;
    color: white;
    background: linear-gradient(57deg, #31a71d, #86ba7f);
    border-radius: 5px;
}

.overskrift button:hover{
    background: linear-gradient(118deg, #31a71d, #86ba7f);
}

.FFbilde{
    width: 100%;
    text-align: center;
    height: 1200px;
    margin-top: -200px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../PICS/huske.jpg");
    background-position: center;

}
.FFbilde h1{
    padding-top: 400px;
    color: #fff;
}




