html {
}

body {
    padding: 0;
    margin: 0;

    background-image: linear-gradient(#79BA72, lightgreen, #d6ecd2);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-height: 100%;
    border-radius: 0px;
    overflow: scroll;
    background-color: #d6ecd2;
}


.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
}
.tekst {
    width: 100%;
    height: auto;
    padding: 1%;
}
.tekst p{
    width: 60%;
    float:left;
    text-align: left;
    margin: 0;
}
.tekst img {
    width: 30%;
    float:right;
    height: auto;
    margin-right: 0;
    padding-bottom: 5%;
    border:none;
}

h1{
    color: black;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    font-size: 300%;
}

.listeMag {
    text-align: left;
    margin-left: 38%;
}
.listeMag ul {
    list-style-type: square;
}

.listeMag li {
    text-decoration: none;
}

footer{
    height: 50px;
    background-color: #146e0e;
    text-align: center;
    color: #939393;
    padding: 20px;
    margin-top: 608px;
}
footer p{
    margin: 20px auto;
    margin-left: 450px;
}

