html {
}

body {
    padding: 0;
    margin: 0;

    background-image: linear-gradient(#79BA72, white);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-height: 100vh;
    border-radius: 0px;
    overflow: hidden;
    background-color: white;
}


.container {
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.overskrift {
    text-align: center;
    font-size: 22px;
}

.listeMag {
    text-align: center;
}



