body{
background-color: lightgreen;
}

.prototypeTittel{
    font-size: 30px;
    text-align: center;
    font-family: Roboto;
}

img{
    display: inline-block;
    margin-left: 4%;
    margin-right: auto;
    width: 15%;
    border: black solid 3px;
}


.bildeTekst{
    font-family: Roboto;
    font-size: 15px;
    display: inline-flex;
    width: 100%;
}
.hjemTekst{
    display: inline-block;
    margin-left: 4%;
    margin-right: 0;
    width: 15%;

}.hjemTekst{

 }

.støtteTekst{
    display: inline-block;
    margin-left: 5%;
    margin-right: 0;
    width: 15%;
}

.qrkodeTekst{
    display: inline-block;
    margin-left: 5%;
    margin-right: 0;
    width: 15%;
}

.donasjonTekst{
    display: inline-block;
    margin-left: 5%;
    margin-right: 0;
    width: 15%;
}

.poengTekst{
    display: inline-block;
    margin-left: 5%;
    margin-right: 0;
    width: 15%;
}
/*
.hjemTekst{
    margin-right: 80%;
    margin-left: 3.5%;
    position: absolute;
}

.støtteTekst{
    margin-left: 22.5%;
    margin-right: 61%;
    position: absolute;
}

.qrkodeTekst{
    margin-left: 42%;
    margin-right: 42%;
    position: absolute;
}

.donasjonTekst{
    margin-left: 61%;
    margin-right: 23%;
    position: absolute;
}

.poengTekst{
    margin-left: 80%;
    margin-right: 4%;
    position: absolute;
}